@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
}

:root{
    font-size: 16px;
    font-family: "Raleway";
    --heading-color: hsl(0, 0%, 7%);
    --date-text-color: hsl(0, 0%, 51%);
    --previous-price-text-color: hsl(0, 98%, 44%);
    --current-price-text-color: hsla(0, 0%, 0%, 0.822);
    --liked-heart-icon-color: hsl(0, 98%, 44%);
    --heart-icon-color: whitesmoke;
    --pricing-font-weight: 800;
    --title-font-weight: 800;
    --date-font-weight: 550;

    /* Cards pkm colors */
    --card-main-color : whitesmoke;
    --pkm-fire: rgb(247, 7, 7);
    --pkm-grass: rgb(0, 122, 0);
    --pkm-normal: rgb(240, 152, 0);
    --pkm-flying: rgb(90, 0, 226);
    --pkm-fight: rgb(195, 75, 0);
    --pkm-ice: rgb(122, 190, 245);
    --pkm-water: rgb(0, 0, 234);
    --pkm-poison:rgb(109, 0, 109);
    --pkm-bug:rgb(93, 246, 93);
    --pkm-ghost:rgb(61, 2, 61);
    --pkm-steel:rgb(148, 148, 148);
    --pkm-electric:rgb(253, 253, 0);
    --pkm-psikic:rgb(0, 7, 111);
    --pkm-dragon:rgb(192, 175, 97);
    --pkm-dark:rgb(16, 7, 27);
    --pkm-fairy:rgb(255, 60, 171); 

}

html{
    width: 100%;
    height: 100%;
}

body{
    background-color: lightcyan; 
}

.container input{
    display: none;
}

.container{
    max-width: 100em;
    /* background-color: lightgreen; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    margin: auto;
    min-height: 30em;
    padding: 3em 1em 1em 1em;
    box-sizing: border-box;
}

/* Card Styling */
.card-div{
    width: 20em;
    min-height: 20em;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: var(--card-main-color);
    margin: 0.6em;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: transform 0.2s ease-in-out;
}

/* ======== General styling of all cards and heart divs ========== */
.img-div{
    width: 100%;
    height: 8em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    z-index: 1;
    border-radius: 0 0 10px 10px;
}

.img-div img{
    transform-origin: bottom;
    transform: translateY(7.5%);
    transition: transform 0.3s ease-in-out
}

/* === Styling the like Icon ==== */
.like-icon-div{
    padding: 1em 1em 0 1em;
    width: 100%;
    box-sizing: border-box;
    text-align: right;
    font-size: 1.5em;
    color: var(--heart-icon-color);
    border-radius:10px 10px 0 0;
    display: flex;
    justify-content: flex-end;
}

.like-icon-div-child{
    /* background-color: yellow; */
    width: 1em;
    height: 1em;
    position: relative;
    z-index: 3;
    cursor: pointer;
}

.heart-empty{
    position: absolute;
    left: 0;
    opacity: 1;
}

.heart-fill{
    position: absolute;
    left: 0;
    opacity: 0;
    transform: scale(0);
    transition: transform 0.25s ease-in-out, opacity 0.2s ease-in-out;
}


/* God of war image and heart-background*/
.gow-img-div{
    background-color: var(--pkm-bug);
}

.gow-img-div img{
    width: 65%;
    transform: translateY(7.5%);
    /* background-color: whitesmoke; */
}

.card-1 .like-icon-div{
    background-color: var(--card-1-secondary-color);
}


/* Sekiro image and heart-background */
.sekiro-img-div{
    background-color: var(--card-2-secondary-color);
}

.sekiro-img-div img{
    width: 45%;
    transform: translateY(7.5%);
}

.card-2 .like-icon-div{
    background-color: var(--card-2-secondary-color);
}


/* Dazai image and heart-background */
.dazai-img-div{
    background-color: var(--card-3-secondary-color);
}

.dazai-img-div img{
    width: 80%;
    transform: translateY(7.5%);
}

.card-3 .like-icon-div{
    background-color: var(--card-3-secondary-color);
    
}

/* U4 image and heart-background*/
.u4-img-div{
    background-color: var(--card-4-secondary-color);
}

.u4-img-div img{
    width: 50%;
    transform: translateY(7.5%);
}

.card-4 .like-icon-div{
    background-color: var(--card-4-secondary-color);
}

/* ======== text Container Styling general ======== */

.text-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: yellow; */
    padding: 0 1.5em;
    padding-top: 7em;
    padding-bottom: 1em;
    box-sizing: border-box;
}

.text-container .item-name,
.text-container .date{
    margin: 0.25em 0;
    text-align: center;
}

.text-container .item-name{
    font-size: 1.2em;
    font-weight: var(--title-font-weight);
    color: var(--heading-color);
}

.text-container .date{
    font-size: 0.9em;
    font-weight: var(--date-font-weight);
    color: var(--date-text-color);
}

/* === Pricing and cart div  ===== */
.pricing-and-cart{
    /* background-color: wheat; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.25em 0 1em 0;
}

.stats_a{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.stats_b{
  display: flex;
  flex-direction: column;
  text-align: right;
}

.previous-price{
    font-size: 0.8rem;
    font-weight: var(--pricing-font-weight);
    color: var(--previous-price-text-color);
    text-decoration: line-through;
    /* background-color: whitesmoke; */
    text-align: left;
}

.current-stat_a{
    color: var(--current-price-text-color);
    font-size: 1.3rem;
    font-weight: var(--pricing-font-weight);
    /* background-color: yellow; */
    margin: 0;
}
.current-stat_b{
  color: var(--current-price-text-color);
  font-size: 1.3rem;
  font-weight: var(--pricing-font-weight);
  /* background-color: yellow; */
  margin: 0;
}

.pricing-and-cart{
    width: 100%;
}

.fa-shopping-cart{
    font-size: 1.3rem;
    top: 0;
    transform: translateY(50%);
}


/* ====== Hover effects ======= */
.card-div:hover .img-div img{
    transform: translateY(7.5%) scale(1.2);
}

.card-div:hover{
    transform: translate(0, -10px);
}

.like-icon-div-child:hover .heart-fill{
    opacity: 1;
    transform: scale(1);
}

.like-icon-div-child:hover .heart-empty{
    transition-delay: 0.25s;
    opacity: 0;
}
.user-interface{
  border: 1px solid red;
}
.title-user{
  display: flex;
  justify-content: center;
  font-size: 20px;
  text-align: center;
}
.login{
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.trainerLabel{
  color: rgb(33, 29, 37);
}

.inputer{
  border-radius: 4px;
  margin: 10px;
  padding: 10px;
}

.img-professor{
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 10px;
}
.professor{
  width: 10.2rem;
  height: 13.2rem;
}
.btn-ini{
  color: white;
  padding: 30px;
  border-radius: 100%;
  background: linear-gradient(360deg, rgba(255,255,255,1) 45%, rgba(5,4,4,1) 50%, rgba(255,27,27,1) 56%);
}
.typewriter h4{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .25em; /* Adjust as needed */
  animation: 
    typing 2.5s steps(40, end); 
  color: rgb(50, 50, 50);
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
.message{
 display: block;
 padding: 5px;
 margin: 10px;
}

.pkmBox{
  display: flex;
  border: 1px solid red;
}

.pkmInfo{
  display: inherit;
  align-items: center;
}

.pkmTitle{
  color: chocolate;
  margin-bottom: 19rem;
  margin-left: 19rem;
}
.pkmNumber{
  color: brown;
}
.pkmHW{
    background-color: white;
    margin: 5px;
    max-width: 200px;
}
.pkmTypes{
  display: block;
  margin-top: 10px;
  text-align: center;
}
.typeCard{
    background-color: white;
    margin: 5px;
    max-width: 200px;
}
.items {
	display: flex;
	flex-wrap: wrap;
	margin-left: -10px;
	margin-top: -10px;
    text-align: center;
}
.items .item {
  flex: 1 0 calc(15% - 15px);
  box-sizing: border-box;
  background: #e0ddd5;
  color: #b18606;
  border-radius: 10px;
  padding: 10px;
  margin-left: 15px;
  margin-top: 15px;
}